<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resource Wall</title>
  <link rel="stylesheet" href="/styles/footer.css" />
</head>

<body>
  <footer>
    <div>Photos provided by <a href="https://www.pexels.com/">Pexels</a></div>
    <div>Icons provided by <a href="https://getavataaars.com/">Avataaars</a>
  </footer>
</body>

</html>