<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resource Wall</title>
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <nav>
    <section class="nav-left">
      <a href="">HOME</a>
      <a href="">NEW URL</a>
      <a href="">MY RESOURCES</a>
      <a href="">MY PROFILE</a>
    </section>
    <section class="nav-right">
      <form class="search-form" method="POST" action="">
        <div class="icon-container">
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
          <input type="search" placeholder="Search">
        </div>
      </form>
    </section>
  </nav>
</body>

</html>