<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resource Wall</title>
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <nav>
    <section class="nav-left">
      <a href="/resources" class="nav-link">Home</a>
      <a href="/resources/new" class="nav-link">Add New Resource</a>
      <a href="/users/<%= userId %>/my-resources" class="nav-link">My Resources</a>
      <a href="/users/<%= userId %>" class="nav-link">My Profile</a>
    </section>
    <section class="nav-right">
      <form class="search-form" method="GET" action="/api/resources/search">
        <div class="icon-container">
          <input type="text" placeholder="ðŸ” Search" name="q">
          <button type="submit">Search</button>
        </div>
      </form>
    </section>
  </nav>
</body>

</html>
