$dark-blue: #233059;
$nav-font: #647AC3;
$link-hover: #C0CCF2;
$body-background: linear-gradient(180deg, #D2D8EB 0%, #F2F4F8 100%);
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.85);
$rating-color: #FFDD63;
$likes-color: #EB7676;
$box-shadow: 8px 8px 30px 0px rgba(165, 174, 206, 0.75);