@use 'variables' as v;

footer {
  background-color: rgba(35, 48, 89, 0.90);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 25px;
  bottom: 0;
  z-index: 1;
  gap: 30px;
}

footer > div {
  color: v.$white;
}

footer > div > a {
  color: v.$link-hover;
  transition: 0.3s;
}

footer > div > a:hover {
  color: v.$white;
}