.resource-page {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 200px;

  .left-section {
    flex: 1;
    padding-right: 20px;
    margin-left: 100px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-right: 10px;
      margin-bottom: -15px;
    }
  }

  .right-section {
    flex: 1;
    padding-left: 20px;
    margin-right: 100px;

    #commentForm {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      textarea {
        border: none;
        outline: none;
        border-bottom: 3px solid dimgray;
        background-color: inherit;
        margin-bottom: 20px;
      }

      button {
        font-weight: bolder;
        text-transform: uppercase;
        background-color: #4056A1;
        padding: 10px 15px;
        color: azure;
        border: none;
        cursor: pointer;
        // width: 200px;
      }
    }

    .rating {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #ratingForm {
        button {
          font-weight: bolder;
          text-transform: uppercase;
          background-color: #4056A1;
          padding: 10px 15px;
          color: azure;
          border: none;
          cursor: pointer;
          width: 200px;
        }
      }

      #likeForm {
         display: flex;
         justify-content: flex-end;

        .heart-button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 24px;
          color: gray; /* Initial color */
          transition: color 0.3s; /* Add a smooth transition for color change */

          &:hover {
            color: red; /* Color on hover */
          }

          &.clicked {
            color: red; /* Color when clicked */
          }
        }
      }
    }

    ul.comments-container {
      list-style: none;
      padding: 0;
      margin-top: 50px;

      .comments {
        display: flex;
        flex-direction: row;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
          margin-bottom: -15px;
        }

        li {
          width: 100%;
          height: 40px;
          background-color: #ffffff;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    ul.ratings {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;
      }
    }
  }
}
