@use 'variables' as v;

.title-header {
  margin: 150px 0px 0px 0px;
  color: v.$dark-blue;
  text-transform: uppercase;
}

.resources-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px 100px 0px;
  z-index: 0;
  width: 100%;
}

.resource-card {
  position: relative;
  margin: 10px;
  padding: 15px;
  background-color: v.$white;
  transition: 0.5s;
  border-radius: 10px;
  overflow: hidden;
}

.resource-card:hover {
  cursor: pointer;
  box-shadow: v.$box-shadow;
  scale: 1.01;
}

.card-content {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: block;
}

.thumbnail_img {
  display: block;
  height: 300px;
}

.resource-card-title {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: v.$white-opacity;
  color: v.$dark-blue;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  z-index: 1;
  width: 80%;
}

#my-resources, #my-favourites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.buttons-container {
  margin: 150px 0px 0px 0px;
  display: flex;
}

// copy to main.scss later?
.my-resources-toggle {
  font-weight: 600;
  color: v.$dark-blue;
  background-color: v.$white;
  text-transform: uppercase;
  width: 200px;
  height: 45px;
  border-radius: 25px;
  border: none;
  transition: 0.3s;
}

.my-resources-toggle:hover, .button-active {
  cursor: pointer;
  color: v.$white;
  background-color: v.$dark-blue;
}

.button-left {
  border-radius: 25px 0px 0px 25px;
}

.button-right {
  border-radius:  0px 25px 25px 0px;
}