@use 'variables' as v;

.resource-page {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 200px;

  .left-section {
    flex: 1;
    padding-right: 20px;
    margin-left: 100px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-right: 10px;
      margin-bottom: -15px;
    }

    .button-date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right:200px;

      .visit-button {
        display: inline-block;
        background-color: v.$nav-font;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
      }

      .visit-button a {
        color: white;
        text-decoration: none;
      }

      .visit-button:hover {
        cursor: pointer;
        background-color: v.$dark-blue;

      }
    }

    .rating-category {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-right:200px;
      margin-top: 20px;

      .average-rating {
        display: flex;
        font-size: 16px; /* Adjust the font size as needed */
        margin-right: 10px; /* Add some spacing between text and stars */

        .star-container {
          display: flex;
          align-items: center;
          margin-top: 5px;

          .fa-star {
            font-size: 20px;
            color: gray;
            margin-right: 5px;
          }

          .fa-star.active {
            color: gold;
          }
        }
      }
    }
  }

  .right-section {
    flex: 1;
    padding-left: 20px;
    margin-right: 100px;

    #commentForm {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      textarea {
        border: none;
        outline: none;
        border-bottom: 3px solid dimgray;
        background-color: inherit;
        margin-bottom: 20px;
      }

      button {
      display: inline-block;
      background-color: v.$nav-font;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      }

      button:hover {
        cursor: pointer;
        background-color: v.$dark-blue;
      }
    }

    .rating-like-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #ratingForm {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .rating {
          direction: ltr;
          unicode-bidi: bidi-override;
          text-align: center;
          margin-top: 10px;
          margin-right: 20px;
        }

        .rating input {
          display: none;
        }

        .rating label {
          display: inline-block;
          padding: 5px;
          font-size: 20px;
          color: gray;
          cursor: pointer;
        }

        .rating label::before {
          content: "\2605"; /* Unicode character for a star */
        }

        .rating input:checked + label {
          color: gold;
        }

        button {
          display: inline-block;
          background-color: v.$nav-font;
          color: white;
          border: none;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          border-radius: 5px;
          // height: 60px;
          cursor: pointer;
        }

        button:hover {
          cursor: pointer;
          background-color: v.$dark-blue;
        }
      }

      #likeForm {
         display: flex;
         justify-content: flex-end;

        .heart-button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 24px;
          color: gray; /* Initial color */
          transition: color 0.3s; /* Add a smooth transition for color change */

          &:hover {
            color: red; /* Color on hover */
          }

          &.clicked {
            color: red; /* Color when clicked */
          }
        }
      }
    }

    #ratings {
      margin-top: 30px;
    }

    .strong {
      font-weight: bold;
    }

    ul.comments-container {
      list-style: none;
      padding: 0;
      margin-top: 50px;

      .comment-container {
        display: flex;
        align-items: center;
        border: 1px solid black;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .user-image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }

        p {
          flex: 1;
          margin: 0;
        }
      }

      .comment-date {
        color: gray;
        margin-top: -10px;
      }
    }

    ul.ratings {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;
      }
    }
  }
}
